{cover_enabled, true}.
{erl_opts, [debug_info]}.
{dialyzer, [{plt_extra_apps, []},
            {warnings, [unknown]}]}.
{deps, []}.
{profiles, [{test,
             [{deps,
               [{hex,
                 {git, "https://github.com/exograd/erl-hex.git",
                  {tag, "v0.2.0"}}}]}]}]}.
